<%- include('partials/header') %>


<div class="jumbotron centered home-body">
  <div class="container">
    <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/5248/5248541.png" alt="Brand_Logo" srcset="" class="brandLogo"></a>
    <h1 class="display-3 brandName">Secret Keeper</h1>
    <p class="lead brandSlogan">Don't keep your secrets, Share them anonymously!</p>
    <div class="breakingLine"><h1 class="invisibleText">.</h1></div>
    <div class="homeButtons">
      <a class="btn btn-light btn-lg registerButton" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg loginButton" href="/login" role="button">Login</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
