<%- include('partials/header') %>

<div class="container mt-5">
  <h1 class="headers">Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST" id="loginForm">
            <div class="form-group">
              <label for="email" class="labels">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password" class="labels">Password</label>
              <input type="password" class="form-control" id="passwordInput" name="password">
            </div>
            <button type="submit" class="btn btn-dark loginPageButton">Login</button>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-social btn-google btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-social btn-facebook btn-block" href="/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Sign In with Facebook
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  const password = document.getElementById('passwordInput');
  const loginForm = document.getElementById('loginForm');
  loginForm.addEventListener('submit', (e)=>{
    if(password.value === ""){
      e.preventDefault();
    }
  });
</script>

<%- include('partials/footer') %>
