<%- include('partials/header') %>

<div class="jumbotron text-center secretsBody">
  <div class="container">
    <i class="fas fa-key fa-5x secretsLogo"></i>
    <h1 class="display-3 brandName">Anonymous Secrets</h1>
  
      <% userSecrets.forEach((user)=>{ %>
        <p class="secret-text"><%= user.secret %></p>
      <% }) %>

      <div class="breakingLine"><h1 class="invisibleText">.</h1></div>
    <a class="btn btn-light btn-lg logoutButton" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg submitSecretButton" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
